<a href="https://colab.research.google.com/github/Ayryslaine/desafio_limpeza/blob/main/desafio_limpeza.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Atividade proposta 2 de Pré-Processamento de Dados**

**Professor: Albaro Ramon Paiva Sanz**

**Equipe: Ayryslaine Kelle, Brenno Vale e Jeová Anderson**

# Importação e Visualização do Banco de Dados

**1. Carregar os dados**

Impotando Bibliotecas e Gerando o Banco de Dados

In [803]:
!pip install unidecode

Requirement already satisfied: unidecode in /usr/local/lib/python3.12/dist-packages (1.4.0)

In [804]:
import pandas as pd
import numpy as np

df = pd.read_csv("/content/desafio_limpeza.csv", sep=",")

**1.1 Visualização do Banco de Dados**

In [805]:
display(df)

,id,nome,idade,renda_mensal,estado_civil,uf,data_cadastro,score_credito,categoria_produto,qtd_compras_12m,email
0,1618,Carla Gomes,18.0,"R$ 1.371,92",Divorciado,pa,2022-09-15,581.0,A,4,carla.gomes178@universidade.br
1,1630,Yasmin Dias,45.0,-2681.639865748432,solteiro,ac,2025-04-07,512.0,unknown,5,yasmin.dias43@gmail.com
2,1388,Felipe Yamamoto,17.0,NaN,Divorc.,rn,2023-09-26,NaN,unknown,2,felipe.yamamoto788@empresa.com.br
3,1099,Otávio Zanetti,49.0,2260.2923563383247,Viúvo,sp,2026-06-14,456.0,A,1,otávio.zanetti514@hotmail.com
4,1627,Xavier Moraes,42.0,2181.827189935003,Solteiro,mt,2024-10-04,NaN,A,14,xavier.moraes100@gmail.com
...,...,...,...,...,...,...,...,...,...,...,...
515,1559,Ana Klein,49.0,"R$ 2976,00 reais",Divorc.,al,2024-12-17,845.0,C,3,ana.klein392@yahoo.com
516,1208,Yasmin Cardoso,38.0,-1655.466189057848,Casado,ac,2023-06-21,704.0,B,6,yasmin.cardoso41@gmail.com
517,1287,Quésia Zanetti,52.0,5329.670917194613,,rj,2022-04-07,NaN,A,4,quésia.zanetti397@empresa.com.br
518,1001,Quésia Teixeira,41.0,"R$ 4475,00 reais",Viúvo,to,2023-03-28,512.0,a,3,quésia.teixeira604@yahoo.com
519,1341,Karen Pereira,31.0,1375.9868371053672,Single,pi,2025-01-28,663.0,a,15,karen.pereira139@universidade.br

In [806]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 520 entries, 0 to 519
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 520 non-null    int64
 1   nome               520 non-null    object
 2   idade              510 non-null    object
 3   renda_mensal       490 non-null    object
 4   estado_civil       453 non-null    object
 5   uf                 520 non-null    object
 6   data_cadastro      520 non-null    object
 7   score_credito      412 non-null    float64
 8   categoria_produto  520 non-null    object
 9   qtd_compras_12m    514 non-null    object
 10  email              514 non-null    object
dtypes: float64(1), int64(1), object(9)
memory usage: 44.8+ KB

# Padronização dos dados

**1. Retirando caracteres de Renda**

In [807]:
df["renda_mensal"] = df["renda_mensal"].str.replace("R$", "", regex=False).str.replace("reais", "", regex=False).str.replace(",", ".", regex=False).str.replace(".", "", regex=False).str.strip()

**2. Padronizando Estado Civil**

In [808]:
df["estado_civil"].unique()

array(['Divorciado', 'solteiro  ', 'Divorc.  ', 'Viúvo  ', 'Solteiro',
       nan, 'Single  ', 'Divorc.', 'Single', 'Casado', '—',
       'Divorciado  ', 'solteiro', 'Viuvo', '  ', 'Casado  ', '—  ',
       'Viúvo', 'CASADO ', 'Solteiro  ', 'CASADO   ', 'Viuvo  '],
      dtype=object)

In [809]:
df["estado_civil"] = df["estado_civil"].replace({
    'Divorciado': 'Divorciado',
    'Solteiro': 'Solteiro',
    'Single  ': 'Solteiro',
    'Divorc.':'Divorciado',
    'Divorc.  ':'Divorciado',
    'Viúvo  ':'Viúvo',
    'Casado':'Casado',
    'Divorciado  ':'Divorciado',
    'Viuvo':'Viúvo',
    'Casado  ':'Casado',
    'Viúvo':'Viúvo',
    'CASADO ':'Casado',
    'Solteiro  ':'Solteiro',
    'CASADO   ':'Casado',
    'Viuvo  ':'Viúvo',
    'Single':'Solteiro',
    'solteiro  ':'Solteiro',
    'solteiro':'Solteiro',
    '—': np.nan,
    '  ': np.nan,
    '—  ': np.nan
})

In [810]:
df["estado_civil"].unique()

array(['Divorciado', 'Solteiro', 'Viúvo', nan, 'Casado'], dtype=object)

**3. Padronizando UF**

In [811]:
df["uf"].unique()

array(['pa', 'ac', 'rn', ' sp ', 'mt', 'ms', 'pb', 'pe', 'sp', 'mg', 'ce',
       'sc', 'ma', 'es', 'rr', 'rs', 'go', 'ro', 'se', 'al', 'to', 'am',
       'ba', 'br', 'pi', 'xx', 'ceara', 'df', 'pr', 'rj', 'ap'],
      dtype=object)

In [812]:
df["uf"] = df["uf"].replace({"ceara":"CE"})

In [813]:
df = df[df['uf'] != 'xx']

In [814]:
df["uf"] = df["uf"].str.upper()

/tmp/ipython-input-3975432905.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["uf"] = df["uf"].str.upper()

In [815]:
df["uf"].unique()

array(['PA', 'AC', 'RN', ' SP ', 'MT', 'MS', 'PB', 'PE', 'SP', 'MG', 'CE',
       'SC', 'MA', 'ES', 'RR', 'RS', 'GO', 'RO', 'SE', 'AL', 'TO', 'AM',
       'BA', 'BR', 'PI', 'DF', 'PR', 'RJ', 'AP'], dtype=object)

In [816]:
df["uf"] = df["uf"].replace({
    ' SP ':np.nan,
    'BR':np.nan
})

/tmp/ipython-input-107205332.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["uf"] = df["uf"].replace({

In [817]:
df["uf"].unique()

array(['PA', 'AC', 'RN', nan, 'MT', 'MS', 'PB', 'PE', 'SP', 'MG', 'CE',
       'SC', 'MA', 'ES', 'RR', 'RS', 'GO', 'RO', 'SE', 'AL', 'TO', 'AM',
       'BA', 'PI', 'DF', 'PR', 'RJ', 'AP'], dtype=object)

**4. Padronizando data para padrão Brasil**

In [818]:
df["data_cadastro"] = pd.to_datetime(df["data_cadastro"], format ="%Y-%m-%d")

/tmp/ipython-input-3367647062.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["data_cadastro"] = pd.to_datetime(df["data_cadastro"], format ="%Y-%m-%d")

In [819]:
df["data_cadastro"] = df["data_cadastro"].dt.strftime('%d/%m/%Y')

/tmp/ipython-input-380853590.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["data_cadastro"] = df["data_cadastro"].dt.strftime('%d/%m/%Y')

In [820]:
from datetime import datetime

hoje = pd.to_datetime("2025-09-12")

df["data_cadastro"] = pd.to_datetime(df["data_cadastro"], format="%d/%m/%Y", errors="coerce")

df["data_cadastro"] = df["data_cadastro"].mask(df["data_cadastro"] > hoje)

df["data_cadastro"] = df["data_cadastro"].dt.strftime('%d/%m/%Y')

/tmp/ipython-input-1163073938.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["data_cadastro"] = pd.to_datetime(df["data_cadastro"], format="%d/%m/%Y", errors="coerce")
/tmp/ipython-input-1163073938.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["data_cadastro"] = df["data_cadastro"].mask(df["data_cadastro"] > hoje)
/tmp/ipython-input-1163073938.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["data_cadastro"] = df["data_cadastro"].dt.strftime('%d/%m/%Y')

In [821]:
df

,id,nome,idade,renda_mensal,estado_civil,uf,data_cadastro,score_credito,categoria_produto,qtd_compras_12m,email
0,1618,Carla Gomes,18.0,137192,Divorciado,PA,15/09/2022,581.0,A,4,carla.gomes178@universidade.br
1,1630,Yasmin Dias,45.0,-2681639865748432,Solteiro,AC,07/04/2025,512.0,unknown,5,yasmin.dias43@gmail.com
2,1388,Felipe Yamamoto,17.0,NaN,Divorciado,RN,26/09/2023,NaN,unknown,2,felipe.yamamoto788@empresa.com.br
3,1099,Otávio Zanetti,49.0,22602923563383247,Viúvo,NaN,NaN,456.0,A,1,otávio.zanetti514@hotmail.com
4,1627,Xavier Moraes,42.0,2181827189935003,Solteiro,MT,04/10/2024,NaN,A,14,xavier.moraes100@gmail.com
...,...,...,...,...,...,...,...,...,...,...,...
515,1559,Ana Klein,49.0,297600,Divorciado,AL,17/12/2024,845.0,C,3,ana.klein392@yahoo.com
516,1208,Yasmin Cardoso,38.0,-1655466189057848,Casado,AC,21/06/2023,704.0,B,6,yasmin.cardoso41@gmail.com
517,1287,Quésia Zanetti,52.0,5329670917194613,NaN,RJ,07/04/2022,NaN,A,4,quésia.zanetti397@empresa.com.br
518,1001,Quésia Teixeira,41.0,447500,Viúvo,TO,28/03/2023,512.0,a,3,quésia.teixeira604@yahoo.com
519,1341,Karen Pereira,31.0,13759868371053672,Solteiro,PI,28/01/2025,663.0,a,15,karen.pereira139@universidade.br

**4. Padronizando Categoria de Produto**

In [822]:
df["categoria_produto"].unique()

array([' A', 'unknown', ' A ', 'B', ' C', 'a ', '—', 'C', 'A', ' B',
       ' UNKNOWN', 'a', 'c', 'premium', 'D', '  b '], dtype=object)

In [823]:
df["categoria_produto"] = df["categoria_produto"].replace({
    ' A': 'A',
    'unknown': np.nan,
    ' A ': 'A',
    ' C':'C',
    'a ':'A',
    '—': np.nan,
    ' B':'B',
    ' UNKNOWN': np.nan,
    'a':'A',
    'c':'C',
    'premium': np.nan,
    'D': np.nan,
    '  b ': 'B'
})

In [824]:
df["categoria_produto"].unique()

array(['A', nan, 'B', 'C'], dtype=object)

**5. Padronizando Quantidade Compra**

In [825]:
df["qtd_compras_12m"].unique()

array(['4', '5', '2', '1', '14', '0', '9', '6', '8', '3', '7', '13', nan,
       'dois', '7 compras', 'dez', '12', '—', '11', '10', '18', '16',
       '21', '15'], dtype=object)

In [826]:
df["qtd_compras_12m"] = df["qtd_compras_12m"].replace({
    '0': np.nan,
    'dois': 2,
    '7 compras': 7,
    'dez': 10,
    '—': np.nan,
    '18': np.nan,
    '16': np.nan,
    '21': np.nan,
    '15': np.nan,
    '14': np.nan,
    '13': np.nan,
})

In [827]:
df["qtd_compras_12m"].unique()

array(['4', '5', '2', '1', nan, '9', '6', '8', '3', '7', 2, 7, 10, '12',
       '11', '10'], dtype=object)

**5. Formatar padrão E-mail**

In [828]:
df["email"]

0         carla.gomes178@universidade.br
1                yasmin.dias43@gmail.com
2      felipe.yamamoto788@empresa.com.br
3          otávio.zanetti514@hotmail.com
4             xavier.moraes100@gmail.com
                     ...
515               ana.klein392@yahoo.com
516           yasmin.cardoso41@gmail.com
517     quésia.zanetti397@empresa.com.br
518        quésia.teixeira604@yahoo.com
519     karen.pereira139@universidade.br
Name: email, Length: 508, dtype: object

In [829]:
from unidecode import unidecode

df['email'] = df['email'].apply(lambda x: unidecode(str(x))).str.lower()
def remove_accents(email):
	email	=	unicodedata.normalize('NFKD', email).encode('ASCII', 'ignore').decode()
	return email

In [830]:
import re
zvc = [
    "gmail.com", "hotmail.com", "yahoo.com", "outlook.com",
    "empresa.com.br", "universidade.br"
]

dom_regex = "|".join(map(re.escape, zvc))
padrao = rf'^(?!.*@)([^\s@]+?)({dom_regex})$'

col = df["email"].astype("string").str.strip()  # só tira espaços nas pontas
fix = col.str.replace(padrao, r"\1@\2", regex=True)

print("Linhas ajustadas (inserido '@'):", (fix != col).sum())

df["email"] = fix

Linhas ajustadas (inserido '@'): 69

In [831]:
df['email']

0         carla.gomes178@universidade.br
1                yasmin.dias43@gmail.com
2      felipe.yamamoto788@empresa.com.br
3          otavio.zanetti514@hotmail.com
4             xavier.moraes100@gmail.com
                     ...
515               ana.klein392@yahoo.com
516           yasmin.cardoso41@gmail.com
517     quesia.zanetti397@empresa.com.br
518         quesia.teixeira604@yahoo.com
519     karen.pereira139@universidade.br
Name: email, Length: 508, dtype: string

# Conversão dos dados

In [832]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 508 entries, 0 to 519
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 508 non-null    int64
 1   nome               508 non-null    object
 2   idade              498 non-null    object
 3   renda_mensal       480 non-null    object
 4   estado_civil       394 non-null    object
 5   uf                 445 non-null    object
 6   data_cadastro      475 non-null    object
 7   score_credito      403 non-null    float64
 8   categoria_produto  400 non-null    object
 9   qtd_compras_12m    468 non-null    object
 10  email              508 non-null    string
dtypes: float64(1), int64(1), object(8), string(1)
memory usage: 63.8+ KB

In [833]:
def converter_colunas(df):
  df_copia = df.copy()
  for coluna in df_copia.columns:
        if coluna.lower() == 'idade' or coluna.lower() == 'qtd_compras_12m' or coluna.lower() == 'renda_mensal':
          df_copia[coluna] = pd.to_numeric(df_copia[coluna], errors='coerce').astype('Int64')
        elif coluna.lower() == 'score_credito':
            df_copia[coluna] = pd.to_numeric(df_copia[coluna], errors='coerce')
  return df_copia

df_convertido = converter_colunas(df)
df_convertido.info()

<class 'pandas.core.frame.DataFrame'>
Index: 508 entries, 0 to 519
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 508 non-null    int64
 1   nome               508 non-null    object
 2   idade              495 non-null    Int64
 3   renda_mensal       479 non-null    Int64
 4   estado_civil       394 non-null    object
 5   uf                 445 non-null    object
 6   data_cadastro      475 non-null    object
 7   score_credito      403 non-null    float64
 8   categoria_produto  400 non-null    object
 9   qtd_compras_12m    468 non-null    Int64
 10  email              508 non-null    string
dtypes: Int64(3), float64(1), int64(1), object(5), string(1)
memory usage: 65.3+ KB

In [834]:
df_convertido

,id,nome,idade,renda_mensal,estado_civil,uf,data_cadastro,score_credito,categoria_produto,qtd_compras_12m,email
0,1618,Carla Gomes,18,137192,Divorciado,PA,15/09/2022,581.0,A,4,carla.gomes178@universidade.br
1,1630,Yasmin Dias,45,-2681639865748432,Solteiro,AC,07/04/2025,512.0,NaN,5,yasmin.dias43@gmail.com
2,1388,Felipe Yamamoto,17,<NA>,Divorciado,RN,26/09/2023,NaN,NaN,2,felipe.yamamoto788@empresa.com.br
3,1099,Otávio Zanetti,49,22602923563383248,Viúvo,NaN,NaN,456.0,A,1,otavio.zanetti514@hotmail.com
4,1627,Xavier Moraes,42,2181827189935003,Solteiro,MT,04/10/2024,NaN,A,<NA>,xavier.moraes100@gmail.com
...,...,...,...,...,...,...,...,...,...,...,...
515,1559,Ana Klein,49,297600,Divorciado,AL,17/12/2024,845.0,C,3,ana.klein392@yahoo.com
516,1208,Yasmin Cardoso,38,-1655466189057848,Casado,AC,21/06/2023,704.0,B,6,yasmin.cardoso41@gmail.com
517,1287,Quésia Zanetti,52,5329670917194613,NaN,RJ,07/04/2022,NaN,A,4,quesia.zanetti397@empresa.com.br
518,1001,Quésia Teixeira,41,447500,Viúvo,TO,28/03/2023,512.0,A,3,quesia.teixeira604@yahoo.com
519,1341,Karen Pereira,31,13759868371053672,Solteiro,PI,28/01/2025,663.0,A,<NA>,karen.pereira139@universidade.br

In [835]:
df_convertido['renda_mensal'] = df_convertido['renda_mensal'].mask(df_convertido['renda_mensal'] < 0, np.nan)
# O método mask() do pandas é usado para substituir valores em um DataFrame onde uma condição é verdadeira

In [836]:
df_convertido['renda_mensal']

0                 137192
1                   <NA>
2                   <NA>
3      22602923563383248
4       2181827189935003
             ...
515               297600
516                 <NA>
517     5329670917194613
518               447500
519    13759868371053672
Name: renda_mensal, Length: 508, dtype: Int64

In [837]:
df_convertido['renda_mensal'] = df_convertido['renda_mensal'].astype(float)

In [838]:
df_convertido['renda_mensal']

0      1.371920e+05
1               NaN
2               NaN
3      2.260292e+16
4      2.181827e+15
           ...
515    2.976000e+05
516             NaN
517    5.329671e+15
518    4.475000e+05
519    1.375987e+16
Name: renda_mensal, Length: 508, dtype: float64

In [839]:
df_convertido

,id,nome,idade,renda_mensal,estado_civil,uf,data_cadastro,score_credito,categoria_produto,qtd_compras_12m,email
0,1618,Carla Gomes,18,1.371920e+05,Divorciado,PA,15/09/2022,581.0,A,4,carla.gomes178@universidade.br
1,1630,Yasmin Dias,45,NaN,Solteiro,AC,07/04/2025,512.0,NaN,5,yasmin.dias43@gmail.com
2,1388,Felipe Yamamoto,17,NaN,Divorciado,RN,26/09/2023,NaN,NaN,2,felipe.yamamoto788@empresa.com.br
3,1099,Otávio Zanetti,49,2.260292e+16,Viúvo,NaN,NaN,456.0,A,1,otavio.zanetti514@hotmail.com
4,1627,Xavier Moraes,42,2.181827e+15,Solteiro,MT,04/10/2024,NaN,A,<NA>,xavier.moraes100@gmail.com
...,...,...,...,...,...,...,...,...,...,...,...
515,1559,Ana Klein,49,2.976000e+05,Divorciado,AL,17/12/2024,845.0,C,3,ana.klein392@yahoo.com
516,1208,Yasmin Cardoso,38,NaN,Casado,AC,21/06/2023,704.0,B,6,yasmin.cardoso41@gmail.com
517,1287,Quésia Zanetti,52,5.329671e+15,NaN,RJ,07/04/2022,NaN,A,4,quesia.zanetti397@empresa.com.br
518,1001,Quésia Teixeira,41,4.475000e+05,Viúvo,TO,28/03/2023,512.0,A,3,quesia.teixeira604@yahoo.com
519,1341,Karen Pereira,31,1.375987e+16,Solteiro,PI,28/01/2025,663.0,A,<NA>,karen.pereira139@universidade.br

# Preenchimento de valores ausentes

In [840]:
df_convertido.isnull().sum()

id                     0
nome                   0
idade                 13
renda_mensal          46
estado_civil         114
uf                    63
data_cadastro         33
score_credito        105
categoria_produto    108
qtd_compras_12m       40
email                  0
dtype: int64

In [841]:
df_convertido['idade'].unique()

<IntegerArray>
[  18,   45,   17,   49,   42,   48,   41,   22,   56,   43,   37,   36,   25,
   21,   44,   24,   57,   28,   62,   50,   54,   19,   52,   32,   38,   14,
   35,   59,   33,   15,   55,   47,   30,   29,   39,   46,   31,   40,   58,
   27,   51, <NA>,   65,   34,   66,   53,   76,   61,   26,  130,   23,   20,
   67,   16,  150,   -3,   60,    0,   71,   68]
Length: 60, dtype: Int64

In [842]:
df_convertido

,id,nome,idade,renda_mensal,estado_civil,uf,data_cadastro,score_credito,categoria_produto,qtd_compras_12m,email
0,1618,Carla Gomes,18,1.371920e+05,Divorciado,PA,15/09/2022,581.0,A,4,carla.gomes178@universidade.br
1,1630,Yasmin Dias,45,NaN,Solteiro,AC,07/04/2025,512.0,NaN,5,yasmin.dias43@gmail.com
2,1388,Felipe Yamamoto,17,NaN,Divorciado,RN,26/09/2023,NaN,NaN,2,felipe.yamamoto788@empresa.com.br
3,1099,Otávio Zanetti,49,2.260292e+16,Viúvo,NaN,NaN,456.0,A,1,otavio.zanetti514@hotmail.com
4,1627,Xavier Moraes,42,2.181827e+15,Solteiro,MT,04/10/2024,NaN,A,<NA>,xavier.moraes100@gmail.com
...,...,...,...,...,...,...,...,...,...,...,...
515,1559,Ana Klein,49,2.976000e+05,Divorciado,AL,17/12/2024,845.0,C,3,ana.klein392@yahoo.com
516,1208,Yasmin Cardoso,38,NaN,Casado,AC,21/06/2023,704.0,B,6,yasmin.cardoso41@gmail.com
517,1287,Quésia Zanetti,52,5.329671e+15,NaN,RJ,07/04/2022,NaN,A,4,quesia.zanetti397@empresa.com.br
518,1001,Quésia Teixeira,41,4.475000e+05,Viúvo,TO,28/03/2023,512.0,A,3,quesia.teixeira604@yahoo.com
519,1341,Karen Pereira,31,1.375987e+16,Solteiro,PI,28/01/2025,663.0,A,<NA>,karen.pereira139@universidade.br

In [843]:
for col in ['idade', 'score_credito', 'qtd_compras_12m']:
    df_convertido.loc[:, col] = df_convertido.loc[:, col].astype(float).fillna(df_convertido.loc[:, col].mean())

df_convertido.loc[:, 'renda_mensal'] = df_convertido.loc[:, 'renda_mensal'].fillna(df_convertido.loc[:, 'renda_mensal'].median())

def fill_with_mode(series):
    mode = series.mode()
    if not mode.empty:
        return series.fillna(mode[0])
    else:
        return series.fillna("Desconhecido")

for col in ['estado_civil', 'uf', 'categoria_produto']:
    df_convertido.loc[:, col] = fill_with_mode(df_convertido.loc[:, col])

df_convertido.loc[:, 'data_cadastro'] = df_convertido.loc[:, 'data_cadastro'].fillna(df_convertido.loc[:, 'data_cadastro'].mode()[0] if not df_convertido.loc[:, 'data_cadastro'].mode().empty else "Desconhecido")

/tmp/ipython-input-3018667577.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[ 18.          45.          17.          49.          42.
  42.          48.          41.          22.          56.
  43.          37.          36.          25.          17.
  21.          44.          24.          57.          42.
  28.          42.          48.          37.          62.
  62.          45.          50.          54.          19.
  28.          52.          32.          38.          14.
  35.          35.          35.          59.          54.
  32.          38.          19.          44.          33.
  38.          15.          36.          28.          38.
  25.          35.          44.          55.          42.
  36.          47.          30.          52.          37.
  44.          14.          29.          42.          50.
  39.          33.          22.          46.          31.
  48.          35.          40.          39.          33.
  62.          24.          35.          38.          29.
  38.          58.          38.          35.          27.
  47.          33.          14.          49.          32.
  47.          40.          42.          41.          43.
  22.          39.          51.          33.          27.
  35.          38.16161616  51.          37.          65.
  40.          52.          39.          47.          46.
  51.          49.          21.          14.          34.
  66.          33.          35.          43.          45.
  33.          53.          59.          37.          37.
  34.          76.          35.          22.          38.16161616
  61.          26.          26.          32.          47.
 130.          22.          31.          14.          59.
  44.          15.          38.16161616  38.          29.
  18.          34.          51.          47.          56.
  41.          26.          34.          49.          32.
  38.          37.          27.          40.          28.
  37.          31.          23.          20.          29.
  36.          40.          29.          37.          34.
  44.          20.          31.          45.          39.
  42.          34.          33.          37.          26.
  43.          37.          42.          49.          46.
  67.          38.          40.          14.          36.
  52.          57.          34.          37.          28.
  49.          35.          21.          28.          41.
  29.          44.          41.          38.16161616  50.
  42.          14.          27.          32.          20.
  52.          24.          25.          23.          47.
  17.          31.          33.          49.          43.
  52.          39.          31.          56.          55.
  55.          28.          40.          40.          29.
  37.          38.16161616  49.          26.          38.16161616
  36.          50.          44.          33.          62.
  42.          57.          44.          32.          23.
  17.          56.          35.          46.          29.
  32.          53.          25.          42.          40.
  32.          52.          44.          38.          48.
  33.          35.          42.          26.          40.
  37.          35.          30.          40.          41.
  14.          45.          30.          33.          47.
  43.          43.          33.          38.          25.
  40.          47.          17.          49.          38.
  29.          49.          42.          25.          39.
  45.          48.          24.          43.          28.
  16.          37.          30.          41.          21.
  33.          15.          32.          37.          29.
  28.          40.          36.          36.          56.
  28.          34.          39.          44.          37.
  46.          38.          48.          38.          34.
  41.          45.          36.          41.          41.
  25.          26.          41.          14.          41.
  40.          47.          52.          35.          27.
  42.          40.          37.          56.          46.
  35.          19.          45.          38.16161616  31.
  25.          44.         150.          30.          48.
  38.          14.          25.          23.          38.16161616
  45.          38.16161616  54.          45.          27.
  35.          30.          39.          58.          45.
  -3.          16.          20.          47.          29.
  48.          52.          25.          26.          54.
  25.          45.          43.          14.          33.
  60.          37.          30.          55.          38.16161616
  47.          27.          55.          38.          19.
  35.          33.          31.          30.          46.
  41.           0.          49.          30.          35.
  34.          36.          30.          60.          24.
  38.16161616  14.          49.          52.          54.
  30.          32.          31.          44.          34.
  27.          47.          26.          37.          47.
  14.          41.          30.          43.          51.
  48.          56.          48.          47.          18.
  42.          48.          14.          44.          46.
  15.          29.          31.          60.          47.
  65.          35.          31.          36.          16.
  41.          34.          45.          41.          58.
  26.          50.          52.          47.          31.
  42.          26.          43.          48.          49.
  29.          38.          38.16161616  37.          18.
  22.          33.          42.          37.          46.
  40.          52.          66.          58.          21.
  41.          31.          36.          62.          39.
  33.          51.          71.          40.          31.
  68.          49.          36.          48.          46.
  47.          38.16161616  30.          36.          31.
  44.          32.          34.          15.          37.
  44.          41.          33.          49.          38.
  52.          41.          31.        ]' has dtype incompatible with Int64, please explicitly cast to a compatible dtype first.
  df_convertido.loc[:, col] = df_convertido.loc[:, col].astype(float).fillna(df_convertido.loc[:, col].mean())
/tmp/ipython-input-3018667577.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[ 4.          5.          2.          1.          4.53418803  4.53418803
  9.          6.          8.          3.          1.          5.
  5.          4.          7.          3.          1.          4.53418803
  5.          4.53418803  2.          6.          3.          5.
  2.          5.          9.          6.          5.          4.53418803
  6.          7.          7.          8.          4.53418803  5.
  8.          9.          5.          4.         10.          2.
  4.53418803  6.         12.          1.          8.          2.
  3.          5.          7.          8.          6.          3.
  2.          5.          4.53418803  4.53418803  2.          1.
  8.          3.          4.          6.          3.          3.
  1.          7.          4.          4.53418803  1.          1.
  5.          2.          6.          2.          9.          4.53418803
  1.          7.          5.          2.         11.         10.
  2.          7.          6.          6.          7.          8.
  3.          3.          4.         11.          3.          6.
  1.          7.          2.          2.          4.          1.
  2.          4.53418803  1.          4.         11.          1.
  1.          6.          2.          2.          2.          2.
  3.          2.          9.          4.          7.         10.
  2.          7.          5.          4.          4.          2.
 10.         11.          1.          1.          6.          8.
  4.          4.53418803  2.          4.          1.          8.
  7.          8.          5.          1.          4.          7.
  3.          4.          8.          5.          5.          7.
  1.          4.          4.53418803  1.          5.          4.
  8.          5.          1.          3.          1.          5.
 10.          6.          3.          3.          3.          4.
  2.          5.          1.          3.          7.          1.
  1.          1.          3.          4.          2.          9.
  4.53418803  8.          4.          7.          4.          3.
  1.          3.          6.          8.         10.          4.
  8.          4.          3.          4.53418803  4.          4.53418803
  2.         12.          8.          1.          6.          3.
  1.          6.          1.          8.          1.          3.
  3.          4.          4.          4.          3.          4.
  4.          8.          5.          7.          4.53418803  2.
 10.         12.         12.          3.          4.          5.
  6.          2.          2.          4.53418803  7.         10.
  1.          2.          4.          2.          4.          3.
  2.          5.          9.          8.         12.          2.
  1.          5.          3.          1.          2.          1.
  2.          1.          5.          1.          4.          3.
  3.          5.          1.          2.          3.          5.
  6.          5.          6.          3.          1.          2.
  4.          8.          8.          6.          6.          4.53418803
 11.          3.          4.53418803  2.         12.          3.
  9.          6.          5.          8.          7.          3.
  4.53418803  4.53418803  4.53418803  6.         11.          6.
  3.          4.          7.          9.          5.         10.
  3.          4.53418803  5.          4.          2.          5.
  4.          1.          1.          1.          1.          3.
  7.          1.          4.          2.          7.          7.
  9.          4.          2.          2.          7.          8.
  4.53418803  6.          2.          4.53418803  2.          1.
  2.         10.          9.          4.          6.          2.
  5.          4.          8.          4.          9.          4.
  4.          3.          8.          8.          5.          2.
  1.          1.          9.          6.          2.          4.
  7.          4.          6.          1.          4.          2.
  2.          3.          7.          4.53418803  7.          7.
  4.          4.          4.          1.          2.          2.
  6.          4.          1.          7.          2.          5.
  4.          6.          3.          1.          2.          3.
  7.          2.          4.          3.          2.          1.
  4.53418803  3.          1.          6.          2.          3.
  4.53418803  6.          5.          2.          1.          5.
  3.          7.          8.         11.          5.          4.53418803
  1.          5.          3.          2.          9.          1.
  5.          3.          2.         10.          8.          3.
  4.          6.          3.          1.          4.53418803  2.
  4.          3.          3.          3.          2.          7.
 10.          5.          4.          2.          4.          3.
  3.          1.          4.53418803  3.          3.         12.
  4.          7.          5.          8.          4.53418803  8.
  3.          6.          3.          6.          4.53418803  6.
  4.          2.          4.          6.          4.53418803  4.53418803
  3.          1.          6.          9.          6.          2.
  2.          2.          4.          7.          3.          4.53418803
  5.          6.          1.          5.          5.          5.
  2.          8.          8.          5.          9.          4.53418803
  3.          1.          4.          2.          4.          8.
 10.          2.          4.          4.         10.          2.
  5.          5.          9.          2.          2.          3.
  6.          4.          3.          4.53418803]' has dtype incompatible with Int64, please explicitly cast to a compatible dtype first.
  df_convertido.loc[:, col] = df_convertido.loc[:, col].astype(float).fillna(df_convertido.loc[:, col].mean())

In [844]:
df_convertido.isnull().sum()

id                   0
nome                 0
idade                0
renda_mensal         0
estado_civil         0
uf                   0
data_cadastro        0
score_credito        0
categoria_produto    0
qtd_compras_12m      0
email                0
dtype: int64

In [845]:
df_convertido

,id,nome,idade,renda_mensal,estado_civil,uf,data_cadastro,score_credito,categoria_produto,qtd_compras_12m,email
0,1618,Carla Gomes,18.0,1.371920e+05,Divorciado,PA,15/09/2022,581.000000,A,4.000000,carla.gomes178@universidade.br
1,1630,Yasmin Dias,45.0,5.482987e+15,Solteiro,AC,07/04/2025,512.000000,A,5.000000,yasmin.dias43@gmail.com
2,1388,Felipe Yamamoto,17.0,5.482987e+15,Divorciado,RN,26/09/2023,607.389578,A,2.000000,felipe.yamamoto788@empresa.com.br
3,1099,Otávio Zanetti,49.0,2.260292e+16,Viúvo,CE,01/08/2025,456.000000,A,1.000000,otavio.zanetti514@hotmail.com
4,1627,Xavier Moraes,42.0,2.181827e+15,Solteiro,MT,04/10/2024,607.389578,A,4.534188,xavier.moraes100@gmail.com
...,...,...,...,...,...,...,...,...,...,...,...
515,1559,Ana Klein,49.0,2.976000e+05,Divorciado,AL,17/12/2024,845.000000,C,3.000000,ana.klein392@yahoo.com
516,1208,Yasmin Cardoso,38.0,5.482987e+15,Casado,AC,21/06/2023,704.000000,B,6.000000,yasmin.cardoso41@gmail.com
517,1287,Quésia Zanetti,52.0,5.329671e+15,Solteiro,RJ,07/04/2022,607.389578,A,4.000000,quesia.zanetti397@empresa.com.br
518,1001,Quésia Teixeira,41.0,4.475000e+05,Viúvo,TO,28/03/2023,512.000000,A,3.000000,quesia.teixeira604@yahoo.com
519,1341,Karen Pereira,31.0,1.375987e+16,Solteiro,PI,28/01/2025,663.000000,A,4.534188,karen.pereira139@universidade.br

In [846]:
 df_convertido['renda_mensal'] = df_convertido['renda_mensal'].apply(
     lambda x: f'{x:,.2f}'.replace(',', 'X').replace('.', ',').replace('X', '.')
     if pd.notnull(x) else np.nan
 )

In [847]:
df_convertido

,id,nome,idade,renda_mensal,estado_civil,uf,data_cadastro,score_credito,categoria_produto,qtd_compras_12m,email
0,1618,Carla Gomes,18.0,"137.192,00",Divorciado,PA,15/09/2022,581.000000,A,4.000000,carla.gomes178@universidade.br
1,1630,Yasmin Dias,45.0,"5.482.987.312.176.826,00",Solteiro,AC,07/04/2025,512.000000,A,5.000000,yasmin.dias43@gmail.com
2,1388,Felipe Yamamoto,17.0,"5.482.987.312.176.826,00",Divorciado,RN,26/09/2023,607.389578,A,2.000000,felipe.yamamoto788@empresa.com.br
3,1099,Otávio Zanetti,49.0,"22.602.923.563.383.248,00",Viúvo,CE,01/08/2025,456.000000,A,1.000000,otavio.zanetti514@hotmail.com
4,1627,Xavier Moraes,42.0,"2.181.827.189.935.003,00",Solteiro,MT,04/10/2024,607.389578,A,4.534188,xavier.moraes100@gmail.com
...,...,...,...,...,...,...,...,...,...,...,...
515,1559,Ana Klein,49.0,"297.600,00",Divorciado,AL,17/12/2024,845.000000,C,3.000000,ana.klein392@yahoo.com
516,1208,Yasmin Cardoso,38.0,"5.482.987.312.176.826,00",Casado,AC,21/06/2023,704.000000,B,6.000000,yasmin.cardoso41@gmail.com
517,1287,Quésia Zanetti,52.0,"5.329.670.917.194.613,00",Solteiro,RJ,07/04/2022,607.389578,A,4.000000,quesia.zanetti397@empresa.com.br
518,1001,Quésia Teixeira,41.0,"447.500,00",Viúvo,TO,28/03/2023,512.000000,A,3.000000,quesia.teixeira604@yahoo.com
519,1341,Karen Pereira,31.0,"13.759.868.371.053.672,00",Solteiro,PI,28/01/2025,663.000000,A,4.534188,karen.pereira139@universidade.br

In [848]:
duplicate_ids = df_convertido[df_convertido.duplicated(subset='id', keep=False)].sort_values(by=['id', 'data_cadastro'])
display(duplicate_ids)

,id,nome,idade,renda_mensal,estado_civil,uf,data_cadastro,score_credito,categoria_produto,qtd_compras_12m,email
127,1055,William Jesus,37.0,"13.947.144.891.933.416,00",Viúvo,BA,24/04/2023,607.389578,C,4.000000,william.jesus807@universidade.br
198,1055,William Jesus,37.0,"13.947.144.891.933.416,00",Viúvo,BA,25/04/2023,405.000000,C,4.000000,william.jesus807@universidade.br
183,1200,Paula Zanetti,37.0,"103.400,00",Solteiro,AM,05/04/2022,619.000000,A,2.000000,paula.zanetti642@empresa.com.br
477,1200,Paula Zanetti,37.0,"10.343.566.712.067.638,00",Solteiro,AM,05/04/2022,619.000000,A,2.000000,paula.zanetti642@empresa.com.br
21,1229,William Lima,42.0,"4.745.298.844.758.164,00",Solteiro,MA,27/02/2025,444.000000,B,6.000000,nan
464,1229,William Lima,42.0,"4.745.298.844.758.164,00",Solteiro,MA,27/02/2025,607.389578,B,6.000000,nan
91,1294,Ulisses Gomes,49.0,"5.845.171.495.648.759,00",Casado,DF,09/12/2022,869.000000,A,7.000000,ulisses.gomes551@universidade.br
292,1294,Ulisses Gomes,49.0,"5.845.171.495.648.759,00",Casado,DF,09/12/2022,869.000000,A,7.000000,ulisses.gomes551@universidade.br
321,1313,Paula Pereira,46.0,"1.230.267.041.262.754,00",Divorciado,MA,08/04/2025,570.000000,A,2.000000,paula.pereira786@hotmail.com
402,1313,Paula Pereira,46.0,"1.230.267.041.262.754,00",Divorciado,CE,10/04/2025,570.000000,A,2.000000,paula.pereira786@hotmail.com
463,1341,Karen Pereira,31.0,"13.759.868.371.053.672,00",Solteiro,PI,28/01/2025,663.000000,A,4.534188,karen.pereira139@universidade.br
519,1341,Karen Pereira,31.0,"13.759.868.371.053.672,00",Solteiro,PI,28/01/2025,663.000000,A,4.534188,karen.pereira139@universidade.br
76,1441,Ana Pereira,62.0,"27.788.435.444.772.264,00",Solteiro,MS,02/07/2022,758.000000,B,2.000000,ana.pereira668@universidade.br
24,1441,Ana Pereira,62.0,"277.800,00",Solteiro,MS,04/07/2022,758.000000,B,2.000000,ana.pereira668@universidade.br
7,1572,Vera Almeida,41.0,"39.926.338.607.011.296,00",Solteiro,PE,21/02/2025,594.000000,A,6.000000,vera.almeida3@empresa.com.br
484,1572,Vera Almeida,41.0,"39.926.338.607.011.296,00",Solteiro,PE,21/02/2025,607.389578,A,6.000000,vera.almeida3@empresa.com.br
60,1578,Tiago Zanetti,37.0,"14.669.531.173.986.468,00",Solteiro,CE,26/02/2024,685.000000,A,1.000000,tiago.zanetti815@empresa.com.br
165,1578,Tiago Zanetti,37.0,"14.669.531.173.986.468,00",Solteiro,CE,26/02/2024,685.000000,A,1.000000,tiago.zanetti815@empresa.com.br
90,1587,Quésia Zanetti,14.0,"40.980.850.997.178.000,00",Divorciado,BA,01/09/2022,466.000000,B,6.000000,quesia.zanetti904@hotmail.com
357,1587,Quésia Zanetti,14.0,"40.980.850.997.178.000,00",Divorciado,BA,31/08/2022,466.000000,B,6.000000,quesia.zanetti904@hotmail.com
443,1603,João Uchoa,46.0,"2.613.176.055.930.949,00",Viúvo,RR,02/09/2023,504.000000,A,4.000000,joao.uchoa628@hotmail.com
69,1603,João Uchoa,46.0,"2.613.176.055.930.949,00",Viúvo,RR,04/09/2023,607.389578,A,4.000000,joao.uchoa628@hotmail.com
446,1614,Yasmin Werneck,31.0,"1.294.740.301.115.669,00",Divorciado,RS,01/08/2025,783.000000,A,3.000000,yasmin.werneck344@gmail.com
451,1614,Yasmin Werneck,31.0,"1.294.740.301.115.669,00",Divorciado,RS,15/09/2024,783.000000,A,3.000000,yasmin.werneck344@gmail.com
342,1638,William Ximenes,40.0,"210.200,00",Divorciado,CE,23/04/2023,607.389578,B,5.000000,william.ximenes266@gmail.com
493,1638,William Ximenes,40.0,"2.102.500.919.440.749,00",Divorciado,CE,23/04/2023,780.000000,B,5.000000,william.ximenes266@gmail.com

In [849]:
df_convertido = df_convertido.drop_duplicates(subset='id', keep='last')
display(df_convertido)

,id,nome,idade,renda_mensal,estado_civil,uf,data_cadastro,score_credito,categoria_produto,qtd_compras_12m,email
0,1618,Carla Gomes,18.0,"137.192,00",Divorciado,PA,15/09/2022,581.000000,A,4.000000,carla.gomes178@universidade.br
1,1630,Yasmin Dias,45.0,"5.482.987.312.176.826,00",Solteiro,AC,07/04/2025,512.000000,A,5.000000,yasmin.dias43@gmail.com
2,1388,Felipe Yamamoto,17.0,"5.482.987.312.176.826,00",Divorciado,RN,26/09/2023,607.389578,A,2.000000,felipe.yamamoto788@empresa.com.br
3,1099,Otávio Zanetti,49.0,"22.602.923.563.383.248,00",Viúvo,CE,01/08/2025,456.000000,A,1.000000,otavio.zanetti514@hotmail.com
4,1627,Xavier Moraes,42.0,"2.181.827.189.935.003,00",Solteiro,MT,04/10/2024,607.389578,A,4.534188,xavier.moraes100@gmail.com
...,...,...,...,...,...,...,...,...,...,...,...
515,1559,Ana Klein,49.0,"297.600,00",Divorciado,AL,17/12/2024,845.000000,C,3.000000,ana.klein392@yahoo.com
516,1208,Yasmin Cardoso,38.0,"5.482.987.312.176.826,00",Casado,AC,21/06/2023,704.000000,B,6.000000,yasmin.cardoso41@gmail.com
517,1287,Quésia Zanetti,52.0,"5.329.670.917.194.613,00",Solteiro,RJ,07/04/2022,607.389578,A,4.000000,quesia.zanetti397@empresa.com.br
518,1001,Quésia Teixeira,41.0,"447.500,00",Viúvo,TO,28/03/2023,512.000000,A,3.000000,quesia.teixeira604@yahoo.com
519,1341,Karen Pereira,31.0,"13.759.868.371.053.672,00",Solteiro,PI,28/01/2025,663.000000,A,4.534188,karen.pereira139@universidade.br

In [850]:
cols_to_format = ['idade', 'score_credito', "qtd_compras_12m"]

for col in cols_to_format:
    # Formatando as casas decimais
    df_convertido[col] = df_convertido[col].round(0)

display(df_convertido)

/tmp/ipython-input-1085907363.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_convertido[col] = df_convertido[col].round(0)

,id,nome,idade,renda_mensal,estado_civil,uf,data_cadastro,score_credito,categoria_produto,qtd_compras_12m,email
0,1618,Carla Gomes,18.0,"137.192,00",Divorciado,PA,15/09/2022,581.0,A,4.0,carla.gomes178@universidade.br
1,1630,Yasmin Dias,45.0,"5.482.987.312.176.826,00",Solteiro,AC,07/04/2025,512.0,A,5.0,yasmin.dias43@gmail.com
2,1388,Felipe Yamamoto,17.0,"5.482.987.312.176.826,00",Divorciado,RN,26/09/2023,607.0,A,2.0,felipe.yamamoto788@empresa.com.br
3,1099,Otávio Zanetti,49.0,"22.602.923.563.383.248,00",Viúvo,CE,01/08/2025,456.0,A,1.0,otavio.zanetti514@hotmail.com
4,1627,Xavier Moraes,42.0,"2.181.827.189.935.003,00",Solteiro,MT,04/10/2024,607.0,A,5.0,xavier.moraes100@gmail.com
...,...,...,...,...,...,...,...,...,...,...,...
515,1559,Ana Klein,49.0,"297.600,00",Divorciado,AL,17/12/2024,845.0,C,3.0,ana.klein392@yahoo.com
516,1208,Yasmin Cardoso,38.0,"5.482.987.312.176.826,00",Casado,AC,21/06/2023,704.0,B,6.0,yasmin.cardoso41@gmail.com
517,1287,Quésia Zanetti,52.0,"5.329.670.917.194.613,00",Solteiro,RJ,07/04/2022,607.0,A,4.0,quesia.zanetti397@empresa.com.br
518,1001,Quésia Teixeira,41.0,"447.500,00",Viúvo,TO,28/03/2023,512.0,A,3.0,quesia.teixeira604@yahoo.com
519,1341,Karen Pereira,31.0,"13.759.868.371.053.672,00",Solteiro,PI,28/01/2025,663.0,A,5.0,karen.pereira139@universidade.br

In [851]:
df_convertido['idade'] = df_convertido['idade'].astype(int)
df_convertido['score_credito'] = df_convertido['score_credito'].astype(int)
df_convertido['qtd_compras_12m'] = df_convertido['qtd_compras_12m'].astype(int)

/tmp/ipython-input-830868816.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_convertido['idade'] = df_convertido['idade'].astype(int)
/tmp/ipython-input-830868816.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_convertido['score_credito'] = df_convertido['score_credito'].astype(int)
/tmp/ipython-input-830868816.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_convertido['qtd_compras_12m'] = df_convertido['qtd_compras_12m'].astype(int)

# Salvando banco de dados limpo

In [852]:
# Salvando o DataFrame limpo em um novo arquivo CSV
df_convertido.to_csv('desafio_limpeza_tratado.csv', index=False)

print("\nDataset limpo e tratado salvo como 'desafio_limpeza_tratado.csv'.")

Dataset limpo e tratado salvo como 'desafio_limpeza_tratado.csv'.